main{
  width: 100%;
  height: 100%;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size:cover;
  background-position: center;
  flex-wrap: nowrap;
  background-image:url(/images/desktopvideoposter.webp);
}
.main-class{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25rem;
  left: 0px;
  right: 0px;
  top: 10rem;
  font-size: xx-large;
  color:var(--badyBG) !important;
  gap: 20px;
  text-align: center;
}
.main-class button{
  background-color: var(--bodyFont);
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--back);
  font-size: x-large;
  justify-content: center;
  text-align: center;
  display: flex;
}
.main-class button:hover{
  color: var(--bodyFont);
  background-color:var(--back);
}

